<a href="https://colab.research.google.com/github/9676Pranay/AL-ML-BOOTCAMP/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Implement the methods of String with examples

---

In [ ]:
#Implement the methods of String with examples
my_str="Welcome come to aiml boot camp"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.title())
print(my_str.capitalize())

WELCOME COME TO AIML BOOT CAMP
welcome come to aiml boot camp
wELCOME COME TO AIML BOOT CAMP
Welcome Come To Aiml Boot Camp
Welcome come to aiml boot camp

In [ ]:
str="       my name is pranay      "
print(str.strip())
print(str.lstrip())
print(str.rstrip())

my name is pranay
my name is pranay
       my name is pranay

2. Implement the methods of List with examples.

In [ ]:
#Implement the methods of List with examples
list=[1,2,3,4,5,6]
list.append(7)
print(list)
list.extend([5,6,7])
print(list)
list.insert(6,4.0)
print(list)
del list[3]
print(list)
del list[0:2]
print(list)
list.remove(6.0)
print(list)
list.pop()
print(list)
list.clear()

print("list elements:",list)
list1=[5,9.1,96,10,21,70,34,99,5,5]
print(list1.count(5))
print(len(list1))
print(list1[::-1])
list1.reverse()
print(list1)
list1.sort()
print(list1)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 4.0, 7, 5, 6, 7]
[1, 2, 3, 5, 6, 4.0, 7, 5, 6, 7]
[3, 5, 6, 4.0, 7, 5, 6, 7]
[3, 5, 4.0, 7, 5, 6, 7]
[3, 5, 4.0, 7, 5, 6]
list elements: []
3
10
[5, 5, 99, 34, 70, 21, 10, 96, 9.1, 5]
[5, 5, 99, 34, 70, 21, 10, 96, 9.1, 5]
[5, 5, 5, 9.1, 10, 21, 34, 70, 96, 99]

3. Implement the methods of Tuple with examples.

In [ ]:
#Implement the methods of Tuple with examples
my_tuple=(1,2,3,4)
my_tuple1=("raju","ramu","somu","srinu")
my_tuple2=("22","21","21","22")
#tuple methods
print(my_tuple.count(1))
print(my_tuple1+my_tuple2)
print(my_tuple.index(2))
print(max(my_tuple))
print(min(my_tuple))
print(len(my_tuple))

1
('raju', 'ramu', 'somu', 'srinu', '22', '21', '21', '22')
1
4
1
4

4. Implement the methods of Dictionary with examples.

In [ ]:
#Implement the methods of Dictionary with examples.
my_dict={'name':'Pranay','phno':9876543210,'address':'kamalapur'}
print(my_dict['name'])
print(my_dict.keys())
print(my_dict.values())
print(my_dict.get('name'))

Pranay
dict_keys(['name', 'phno', 'address'])
dict_values(['Pranay', 9876543210, 'kamalapur'])
Pranay

In [ ]:
a=int(input("Enter the required number"))
print(a)
b=input("enter string")
print(b)

Enter the required number23
23
enter stringpranay
pranay

In [ ]:
name=input("Enter your name")
age=int(input("Entert the age"))
study=input("Enter your education ")
print(name,"age is",age,"Persuing",study)

Enter your namePranay
Entert the age21
Enter your education btech
Pranay age is 21 Persuing btech

5. Implement the methods of Set with examples.

In [ ]:
#Implement the methods of Set with examples.
my_set={1,2,3,4,5,}
my_set1={1,2,3,"hi",(1,2,3)}
list=[1,3,5,7]#convert list into set
my_set2=set(list)
print(my_set2)
my_set.add(2)
print(my_set)
my_set.update([2,3,4])
print(my_set)
my_set.discard(3)
print(my_set)
my_set.remove(4)
print(my_set)
#set operations
a={1,2,3,4,5}
b={9,8,7,6,5}
#union
print(a|b)
print(a.union(b))
print(b.union(a))
#intersection
print(a&b)
print(a.intersection(b))
print(b.intersection(a))
#difference
print(a-b)
print(a.difference(b))
print(b-a)
print(b.difference(a))

{1, 3, 5, 7}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5}
{5}
{5}
{1, 2, 3, 4}
{1, 2, 3, 4}
{8, 9, 6, 7}
{8, 9, 6, 7}

6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with 
direct method.

In [ ]:
#Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method
dec =int(input("Enter the decimal"))

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

Enter the decimal121
The decimal value of 121 is:
0b1111001 in binary.
0o171 in octal.
0x79 in hexadecimal.

7. Implement Arithmetic operators with examples.

In [ ]:
#Implement Arithmetic operators with examples
print("arithmetic operations\n")
a=22
b=33
c=a+b
d=a-b
e=a*b
f=a/b
g=a//b
h=a%b
i=a**b
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

arithmetic operations

22
33
55
-11
726
0.6666666666666666
0
22
199502557355935975909450298726667414302359552

8. Implement Assignment operators with examples.

In [ ]:
#Implement Assignment operators with examples.
print("assignmet operations\n")
a=5
b=6
c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c%=a
print(c)
c**=a
print(c)

assignmet operations

11
16
11
55
11.0
1.0
1.0

9. Implement Comparison operators with examples.

In [ ]:
#Implement Comparison operators with examples
print("comparision operations\n")
a=2
b=3
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

comparision operations

False
True
False
True
False
True

10. Implement Logical operators with examples.

In [ ]:
#Implement Logical operators with examples
print("logical operations\n")
x=True
y=False
print("x and y is",x and y)
print("x or y is",x or y)
print("x not is",not x)

logical operations

x and y is False
x or y is True
x not is False

11. Implement Bitwise operators with examples.

In [ ]:
#Implement Bitwise operators with examples.
print("bitwise operations\n")  
a=2
b=3
print(a&b)#AND
print(a^b)#XOR
print(a|b)#OR
print(~a)
print(a>>2)#right shift
print(a<<4)#left shift

bitwise operations

2
1
3
-3
0
32

12. Implement Membership operators with examples.

In [ ]:
# Implement Membership operators with examples
print("membership operations\n")
x="Hello World"
y={1:'a',2:'b'}
print('H' in x)
print('e'in x)
print('z' in x)
print(1 in y)
print('a'in y)

membership operations

True
True
False
True
False

13. Implement Identity operators with examples

In [ ]:
#Implement Identity operators with examples
x1=5
y1=5
x2="Hello"
y2="Hello"
x3=[1,2,3]
y3=[1,2,4]
print(x1 is not y1)
print(x1 is y1)
print(x3 is x2)
print(x3 is y3)

False
True
False
False

14. Demonstrate Negative indexing for List and apply slicing.

In [6]:
#Demonstrate Negative indexing for List and apply slicing
str="Welcome come to aiml boot camp"
studentdetails=['name','age','address','mail','phno']
print("--indexing--")
print(studentdetails[-1])
print(studentdetails[-2])
print(studentdetails[-3])
print(studentdetails[-4])
print(str[0])
print(str[-1])
print("\n")
print("--slicing--")
print(str[:])#entire string is printed
print(str[1:])
print(str[:4])
print(str[-7:-1])
print(str[4:-1])
print(str[0:8:2])#alternate 2 elements
print("--reverse a string--")
print(str[::-1])

--indexing--
phno
mail
address
age
W
p


--slicing--
Welcome come to aiml boot camp
elcome come to aiml boot camp
Welc
ot cam
ome come to aiml boot cam
Wloe
--reverse a string--
pmac toob lmia ot emoc emocleW

15. Predict the output for the given code snippet and justify the result.

In [2]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("----------")
print('Welcome to python training program'[3:10][::-1])

taawkcbe  tgestrcoeeA
----------
ot emoc

16. Write a python code to get desired output

In [5]:
#Write a python code to get desired output
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[:3:]+" "+str[4:5:]+" "+str[5:6:]+str[7:8:]+str[9:10:]+" "+str[10:11:]+" "+str[11:12:]+str[13:14]+" "+str[14:15]+str[16:17:]+str[18:19:]+" "+str[19:20:]+" "+str[20:21:]+str[22:23:]+" "+str[24::])

WAS I TAC A RO RAC A TI SAW

17. You are required to generate a word similar to ZOO, X and Y that denote the number 
of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
 Input X= 2 Output ZZOOOO 
 Input X= 5 Output ZZZZZOOOOOOOOOO

In [ ]:
#Predict the output for the given code snippet and justify the result.
#You are required to generate a word similar to ZOO, X and Y that denote the number 
#of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
 #Input X= 2 Output ZZOOOO 
 #Input X= 5 Output ZZZZZOOOOOOOOOO
x=int(input("length of x"))
a=('Z'*x)
#print(a)
y=len(a)
z=2*y
y=('O'*z)
#print(y)
print(a+y)

length of x5
ZZZZZOOOOOOOOOO